
<div class="container">
    <h2>Show Details</h2>
    <form >
      <div class="form-group">
        <label for="shid">Show Id:</label>
        <input type="number" class="form-control" id="shid" placeholder="Show Id" name="shid" [(ngModel)]="sh.shid">
      </div>


      <div class="form-group">
        <label for="stime">Start Time:</label>
        <input type="number" class="form-control" id="stime" placeholder="Show startTime" name="stime" [(ngModel)]="sh.stime">
      </div>
      
      <div class="form-group">
        <label for="etime">ShowEndTime:</label>
        <input type="number" class="form-control" id="etime" placeholder="End Time" name="etime" [(ngModel)]="sh.etime">
      </div>
      
      <div class="form-group">
        <label for="shoname">Show Name:</label>
        <input type="text" class="form-control" id="shoname" placeholder="Show name" name="shoname" [(ngModel)]="sh.shoname">

      </div>
      
      <div class="form-group">
        <label for="screenid">Enter TheaterId</label>
        <input type="number" class="form-control" id="screenid" placeholder="screenId" name="screenid" [(ngModel)]="screen_screenid">
      </div>
      
      <button type="submit" class="btn btn-default" (click)="addshow()">Submit</button>
    </form>
  </div>

