

<br>
<br>
<br>

    <nav class="navbar navbar-default bg-dark a">
        <div class="container app">
        <ul class="nav nav-pills nav-justified ">
        
            <li> <a routerLink="theater">Theater</a></li>

            <li><a routerLink="screen">Screen</a></li>

            <li><a routerLink="show">Show</a></li>

            <li><a routerLink="movie">Movie</a></li>

            <li><a routerLink="theaterdelete">DeleteTheater</a></li>

            <li><a routerLink="screendelete">DeleteScreen</a></li>

            <li><a routerLink="showdelete">DeleteShow</a></li>

            <li><a routerLink="moviedelete">DeleteMovie</a></li>

        </ul>
    </div>
    </nav>


<br><br><br><br>
<div class="container">

<div class="row">

<div class="col-xs-12 col-sm-8 col-sm-offset-2">
<div class="jumbotron">
<router-outlet>


</router-outlet>
</div>
</div>
</div>
</div>